<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>Talkaboutit</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Css Main -->
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Main Body Contents -->
    <div id="search_page">
        <div class="container">
          <!-- Place Holder-->

          <!-- Form Submission -->
          <input type="text" class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3" id="searchbox" placeholder="search">
          <input type="image" class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3" src="static/images/TalkAboutItLogo.png" id="search"></input>

        </div>
    </div>

    <!-- Search -->
    <div id="result_page" style="display:none;">
        <header id="shadow">
          <nav class="flex flex-spread">
            <h1 class="search">Searched Term: ""</h1>
            <h2 class="logo"><a href="#" target="_blank">TalkAboutIt</a></h2>
          </nav>
        </header>
        <!-- Content -->
        <div class="container">

          <!-- Twitter Section -->
          <section class="Twitter col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
            <h1>Twitter Feed</h1>
            <div class="twitterheader">
            </div>
            <ul id="tweet_list">

            </ul>

          </section>

        </div>
    <div>

    <!-- jQuery Script -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- General Javascript -->
    <script src="static/js/app.js"></script>
  </body>
</html>
