<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>Talkaboutit</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Css Main -->
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Search -->
    <header id="shadow">
      <h1 class="search">Searched Term: ""</h1>
      <h1 class="logo">TalkAboutIt</h1>
    </header>
    <!-- Content -->
    <div class="container">

      <!-- Twitter Section -->
      <section>
      </section>

      <!-- Google Plus Section-->
      <section>
      </section>

    </div>

    <!-- Bootstrap Script -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jQuery Script -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- General Script -->
    <script src="static/js/app.js"></script>
  </body>
</html>
