<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>Talkaboutit</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Css Main -->
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Search -->
    <header id="shadow">
      <nav class="flex flex-spread">
        <h1 class="search">Searched Term: ""</h1>
        <h2 class="logo"><a href="#" target="_blank">TalkAboutIt</a></h2>
      </nav>
    </header>
    <!-- Content -->
    <div class="container">

      <!-- Twitter Section -->
      <section class="Twitter">
        <h1>Twitter Feed</h1>
        <div class="twitterbox">
        </div>
      </section>

      <!-- Google Plus Section-->
      <section class="Google">
        <h1>Google Feed</h1>
        <div class="googlebox">
        </div>
      </section>

    </div>


    <!-- Bootstrap Script -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jQuery Script -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- General Script -->
    <script src="static/js/app.js"></script>
  </body>
</html>
